<?xml version="1.0"?>
<psalm
    errorLevel="3"
    cacheDirectory="var/cache/psalm"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd">
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
    <issueHandlers>
        <PossiblyUnusedMethod>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyUnusedMethod>
        <UnusedClass>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </UnusedClass>
        <FalsableReturnStatement>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </FalsableReturnStatement>
        <PossiblyUnusedReturnValue>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyUnusedReturnValue>
        <MissingTemplateParam>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </MissingTemplateParam>
        <PossiblyUnusedParam>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyUnusedParam>
        <PossiblyFalseArgument>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyFalseArgument>
        <PossiblyFalseOperand>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyFalseOperand>
        <PossiblyNullPropertyAssignment>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyNullPropertyAssignment>
        <PossiblyNullPropertyFetch>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyNullPropertyFetch>
        <PossiblyNullReference>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyNullReference>
        <PossiblyInvalidArgument>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyInvalidArgument>
        <PossiblyInvalidCast>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </PossiblyInvalidCast>
        <ArgumentTypeCoercion>
            <errorLevel type="suppress">
                <directory name="src"/>
            </errorLevel>
        </ArgumentTypeCoercion>

    </issueHandlers>
</psalm>
